<template>
  <div class="container">
    <database></database>
  </div>
</template>

<script>
  import Database from './Dashboard/Database'

  export default {
    name: 'dashboard',
    components: { 
      Database
    },
    methods: {}
  }
</script>

<style>
/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
</style>