<template>
    <nav class="bg-faded sidebar">
        <ul class="nav nav-pills flex-column">
            <template v-for="navitem in navitems" active>
                <li :key="navitem.name" class="nav-item">
                    <router-link class="nav-link" :to="navitem.path">{{navitem.name}}</router-link>
                </li>
            </template>
        </ul>
    </nav>
</template>

<script>
import Router from '../router/';

export default {
    data() {
        return {
            navitems: [
                {
                    name: "Dashboard",
                    path: "/"
                },
                                {
                    name: "Settings",
                    path: "/Settings"
                }                
            ]
        }
    }

}
</script>

<style>
    /*
 * Sidebar
 */

    .sidebar {
        position: fixed;
        top: 18px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        padding: 20px;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        border-right: 1px solid #212121;
    }

    /* Sidebar navigation */

    .sidebar {
        padding-left: 0;
        padding-right: 10px;
    }

    .sidebar .nav {
        margin-bottom: 20px;
    }

    .sidebar .nav-item {
        width: 100%;
    }

    .sidebar .nav-link {
        color: rgb(145, 145, 145);
    }

    .sidebar .nav-link:hover {
        color: rgb(231, 231, 231);
    }

    .sidebar .nav-link.active {
        border-right: 20px solid #333;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    .sidebar .nav-item+.nav-item {
        margin-left: 0;
    }

    .sidebar .nav-link {
        border-radius: 0;
    }
</style>