<template>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="card w-100 text-dark">
                    <h3 class="card-header">Database Connection</h3>
                    <div class="card-body row">

                        <div class="col-5">
                            <div class="card-text db-status text-center align-middle h5 font-weight-bold" :class="'bg-' + dbStatusColor">{{connectStatus}}</div>
                        </div>
                        <div class="col-7">
                            <p class="card-text text-dark">Database Name: {{dbName}}<br>Username: {{dbusername}}</p>
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-row-reverse">
                        <a class="font-weight-bold mr-3 btn" :class="'btn-' + dbActionBtnColor">{{connected ? "Disconnect" : "Connect"}}</a>
                    </div>
            </div>
        </div>
    </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                connected: 2,
                connectStatus: "Disconnected",
                dbName: "NULL",
                dbusername: "NULL",
                dbStatusColor: null,
                dbActionBtnColor: null
            }
        },
        created() {
            this.dbStatusColor = this.calc_dbStatusColor()
            this.dbActionBtnColor = this.calc_dbActionBtnColor()
        },
        methods: {
            calc_dbStatusColor: function() {
                switch(this.connected){
                    case 2: 
                        status = "success"
                        break
                    case 1: 
                        status = "warning"
                        break
                    default: 
                        status = "danger"
                }
                return status
            },
            calc_dbActionBtnColor: function() {
                switch(this.connected){
                    case 2: 
                        status = "danger"
                        break
                    case 1: 
                        status = "warning"
                        break
                    default: 
                        status = "success"
                }
                return status
            }
        }
    }
</script>

<style scoped>
    .card-body {
        font-size: 1.5rem;
    }

    .db-status {
        display: block;
        border: 1px solid white;
        border-radius: 9999px;
        min-width: 12vw;
        max-width: 12vw;
        min-height: 12vw;
        max-height: 12vw;
        line-height: 12vw;
    }
</style>