<!-- -->
<template>
  <div id="app">
    <nav class="navbar fixed-top navbar-dark flex-row text-white justify-content-end">
      <div class="p-2 mr-auto">
        <p class="navbar-brand">Brand</p>
      </div>
      <div class="p-2">
        <a v-on:click="maximize" class="btn btn-success"></a>
      </div>
      <div class="p-2">
        <a v-on:click="minimize" class="btn btn-warning"></a>
      </div>
      <div class="p-2">
        <a v-on:click="close" class="btn btn-danger"></a>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
          <sidebar class="col-2"></sidebar>
        <main class="col-8 offset-2 pt-3">
          <router-view></router-view>
        </main>
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "./global_components/Sidebar"
const remote = require('electron').remote

  export default {
    name: 'electronDBgen',
    components: {
      Sidebar
    },
    data(){
            return {
                w: remote.getCurrentWindow(),
            }
        },
        methods: {
            close() {
                this.w.close()
            },
            minimize() {
              this.w.minimize()
            },
            maximize() {
              this.w.maximize()
            }
        }
  }
</script>

<style>
  body {
    background-color: #414141;
    color: #fff !important;
    padding-top: 25px;
  }

  .navbar {
    background-color: #212121;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    border: none;
    border-radius: 0px !important;
    height: 30px;
  }

  .navbar>div>a {
    -webkit-app-region: no-drag;
  }

  .navbar-brand {
    padding-top: 20px;
  }

  body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  ::-webkit-scrollbar {
    width: 14px;
    height: 18px;
  }

  ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
</style>